<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<main layout:fragment="content">
    <section class="auth-container">
        <h2>추가 정보 입력</h2>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <form th:action="@{/auth/extra-info}" method="post">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text"
                       id="name"
                       name="name"
                       placeholder="이름을 입력하세요."
                       th:value="${member.name}"
                       th:readonly="${member.name != '페이코 유저'}"
                       required>
            </div>

            <div class="form-group">
                <label for="birth">생일</label>
                <input type="date"
                       id="birth"
                       name="birth"
                       th:value="${member.birth}"
                       required> </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email"
                       id="email"
                       name="email"
                       placeholder="이메일을 입력하세요."
                       th:value="${member.email}"
                       required>
            </div>

            <div class="form-group">
                <label for="contact">휴대폰 번호</label>
                <input type="text"
                       id="contact"
                       name="contact"
                       th:value="${member.contact}"
                       th:readonly="${member.contact != '010-0000-0000'}"
                       placeholder="-를 포함한 전화번호를 입력하세요."
                       required>
            </div>

            <button type="submit" class="auth-button button-secondary">회원가입</button>
        </form>
    </section>
</main>
<body>
<th:block layout:fragment="scripts">
    <script th:src="@{/js/password-tooltip.js}"></script>
</th:block>
</body>
</html>