<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<main layout:fragment="content">
    <section class="auth-container">
        <h2>로그인</h2>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text"
                       id="email"
                       name="email"
                       placeholder="이메일을 입력하세요."
                       required>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password"
                       id="password"
                       name="password"
                       placeholder="비밀번호를 입력하세요."
                       required>
            </div>

            <button type="submit" class="auth-button">로그인</button>
        </form>
        <a th:href="@{/payco/login}">
            <img src="static/images/PAYCO_loginButton.png" alt="PAYCO 로그인" onclick="alert('페이코로그인 클릭됨!')" >
        </a>
    </section>
</main>
</html>