<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<main layout:fragment="content">
    <section class="main-content">
        <a th:href="@{/admin/book/manage}">도서 상세 관리</a>
        <a th:href="@{/admin/book/book_register}">도서 등록 관리</a>
        <a th:href="@{/admin/category/manage}">카테고리 관리</a>
        <a th:href="@{/admin/tag/manage}">태그 관리</a>
    </section>
</main>
</html>