<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<main layout:fragment="content">
    <section class="main-content">
        <a th:href="@{/admin/member-management}" class="button button-primary">회원 관리</a>
        <a th:href="@{/admin/coupons}" class="button button-primary">쿠폰 관리</a>
        <a th:href="@{/admin/books/management}" class="button button-primary">도서 관리</a>
        <a th:href="@{/admin/policy/policy}" class="button button-primary">정책 관리</a>
        <a th:href="@{/admin/orders(order-status=${T(com.nhnacademy.illuwa.order.dto.types.OrderStatus).Pending})}"
           class="button button-primary">주문 관리</a>
        <a th:href="@{/admin/packaging/packaging}" class="button button-primary">포장 옵션 관리</a>
    </section>
</main>
</html>