<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/page/member/_mypage.css}" />
    <link rel="stylesheet" th:href="@{/css/order/mypage_order_list.css}">

</head>
<main layout:fragment="content">
    <div class="mypage-container">
        <div th:replace="~{layout/mypage-sidebar :: sidebar(${activeMenu})}"></div>
        <section class=mypage-content>
    <!-- <section class="main-content">
       <a th:href="@{/order_history}">주문내역 상세정보</a>
     </section>
     <section>
       <a th:href="@{/write_review}">리뷰 작성하기</a>
     </section>-->
        <section>
            <table class="order-table">
                <thead>
                <tr>
                    <th style="display: none">ID</th>
                    <th>주문 번호</th>
                    <th>주문일시</th>
                    <th>총 결제액</th>
                    <th>상태</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="order : ${orderPage.content}">
                    <td style="display: none" th:text="${order.orderId}">1</td>
                    <td>
                        <a th:href="@{/orders/{orderId}(orderId=${order.orderId})}"
                           th:text="${order.orderNumber}">
                            empty-order-number
                        </a>
                    </td>
                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}">
                        2025-07-08 10:30
                    </td>
                    <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}">15,000</td>
                    <td th:text="${order.orderStatus.getValue()}">SHIPPED</td>
                </tr>
                </tbody>
            </table>

            <!-- 페이지네이션 네비게이터 -->
            <div class="pagination">
                <a th:if="${!orderPage.first}"
                   th:href="@{/orders(page=${currentPage - 1},size=${orderPage.size})}">« Prev</a>

                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                      th:classappend="${i==currentPage}? 'current'">
      <a th:href="@{/orders(page=${i},size=${orderPage.size})}"
         th:text="${i+1}">1</a>
    </span>

                <a th:if="${!orderPage.last}"
                   th:href="@{/orders(page=${currentPage+1},size=${orderPage.size})}">Next »</a>
            </div>
        </section>
        </section>
    </div>
</main>
</html>