<header th:fragment="header" class="main-header">
    <div class="main-header__container">
        <h1 class="main-header__logo logo">
            <a th:href="@{/}" class="main-header__logo-link">
                <img th:src="@{/images/1lluwa.png}" alt="일루와 BookStore" class="main-header__logo-img">
            </a>
        </h1>
        <nav class="main-header__nav">
            <ul class="main-header__nav-menu nav-menu nav-menu--left">
                <li th:each="category : ${categories}" th:if="${#lists.isEmpty(category.parentId)}" class="nav-menu__item has-submenu">
                    <a href="#" th:text="${category.categoryName}" class="nav-menu__item-link_main"></a>
                    <ul class="submenu"
                    th:unless="${#lists.isEmpty(category.children)}">
                        <li th:each="child : ${category.children}" class="nav-menu__item has-submenu">
                            <a href="#" th:text="${child.categoryName}" class="nav-menu__item-link"></a>
                            <ul class="submenu"
                            th:unless="${#lists.isEmpty(child.children)}">
                                <li th:each="sub : ${child.children}">
                                    <a th:href="@{|/api/books/search-es?category=${sub.categoryName}|}"
                                       th:text="${sub.categoryName}"
                                       class="nav-menu__item-link"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="main-header__nav-menu nav-menu nav-menu--right">
                <li>
                    <a th:href="@{/books/list}" class="button-header-clean">도서 목록</a>
                </li>
                <li th:if="${isLoggedIn}">
                    <a th:href="@{/cart}" class="button-header-clean">장바구니</a>
                </li>
                <li th:if="${isLoggedIn}">
                    <a th:href="@{/mypage}" class="button-header-clean">마이페이지</a>
                </li>
                <li th:if="${isLoggedIn}">
                    <a th:href="@{/logout}" class="button-header-clean">로그아웃</a>
                </li>
                <li th:unless="${isLoggedIn}">
                    <a th:href="@{/auth/login}" class="button-header-clean">로그인</a>
                </li>
                <li th:unless="${isLoggedIn}">
                    <a th:href="@{/auth/signup}" class="button-header-clean">회원가입</a>
                </li>
            </ul>
        </nav>
    </div>
</header>