<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<main layout:fragment="content">
    <section class="main-content">
        <h1>내 장바구니</h1>
        <table id="cart-table">
            <thead>
            <tr>
                <th>책</th>
                <th>제목</th>
                <th>단가</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <!-- JS에서 renderCart()가 이 안을 채워줍니다 -->
            </tbody>
        </table>
        <div id="total">총합: 0원</div>
        <div style="text-align:right; margin-top:12px;">
            <button onclick="clearCart()">장바구니 비우기</button>
        </div>
    </section>
    <script th:src="@{/js/cart/cart.js}"></script>
</main>
</html>