<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<main layout:fragment="content">
    <section class="main-content">
        <a th:href="@{/userinfo}">개인정보 수정</a>
        <a th:href="@{/order_list}">주문 내역</a>
<!--        <a th:href="@{/point_history}">포인트 히스토리</a>-->
        <a th:href="@{/mycoupon}">쿠폰 발급/사용 내역</a>
        <a th:href="@{/address_list}">주소록 관리</a>

    </section>
</main>
</html>