<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      th:lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head" title="회원 목록">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/page/member/_member-list.css}" />
</head>

<body>
<main layout:fragment="content">
    <section class="main-content">
        <div class="header-row">
            <h2 class="title">📋 전체 회원목록</h2>
        </div>

        <div class="member-list">
            <div class="member-item"
                 th:each="member, i : ${memberList}"
                 th:classappend="${member.status.name() == 'DELETED'} ? ' deleted-member' : ''">

                <h3 th:text="'#' + (${currentPage} * ${pageSize} + ${i.index + 1}) + '. ' + ${member.name}"
                    class="member-name"></h3>


                <p><strong>이메일:</strong>
                    <span th:text="${member.email}" class="member-email"></span>
                </p>

                <p><strong>연락처:</strong>
                    <span class="grade-tag" th:text="${member.contact}"></span>
                </p>

                <p><strong>등급:</strong>
                    <span th:text="${member.gradeName}"
                          th:class="'grade-tag ' + ${member.gradeName.toLowerCase()}"></span>
                </p>

                <p><strong>포인트:</strong>
                    <span th:text="${member.point}"></span>
                </p>

                <p><strong>상태:</strong>
                    <span th:text="${member.status}"></span>
                </p>

                <p><strong>마지막 로그인:</strong>
                    <span th:text="${member.lastLoginAt != null ? #temporals.format(member.lastLoginAt, 'yyyy-MM-dd HH:mm') : '미접속'}">미접속</span>
                </p>
            </div>
        </div>

        <!-- 페이징 -->
        <div class="pagination">
            <button th:if="${currentPage > 0}"
                    th:onclick="'location.href=\'/admin/member-list?page=' + (${currentPage} - 1) + '\''">
                ◀ 이전
            </button>

            <span th:each="i : ${#numbers.sequence(0, lastPageIndex)}">
                <a th:href="@{'/admin/member-list?page=' + ${i}}"
                th:text="${i + 1}"
                th:class="${i == currentPage} ? 'active-page' : ''">1</a>
            </span>


            <button th:if="${currentPage < (totalPages > 0 ? totalPages - 1 : 0)}"
                    th:onclick="'location.href=\'/admin/member-list?page=' + (${currentPage} + 1) + '\''">
                다음 ▶
            </button>
        </div>
    </section>
</main>
</body>
</html>
