<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head layout:fragment="head">
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<main layout:fragment="content">
  <section class="main-content">
    <div class="welcome-section">
      <h1 class="welcome-message">어서오세요!</h1>
      <div class="welcome-links">
        <a th:unless="${isLoggedIn}" th:href="@{/login}" class="button button-primary">로그인하기</a>

        <a th:unless="${isLoggedIn}" th:href="@{/guest-login}" class="button button-primary">비회원 주문조회</a>

        <a th:if="${isLoggedIn}" th:href="@{/mypage}" class="button button-primary">마이페이지</a>

        <a th:if="${isAdmin}" th:href="@{/admin_home}" class="button button-primary">관리자페이지</a>

        <a th:href="@{/book_search}" class="button button-secondary">책 찾아보기</a>
      </div>
    </div>
    <h2>베스트셀러</h2>
    <div class="book-list">
      <div class="book-item" th:each="book : ${bestSeller}" th:data-id="${book.isbn}" style="cursor: pointer;">
        <img th:src="${book.cover}" alt="도서 이미지" style="width: 150px; height: 220px; object-fit: cover; margin-bottom: 10px;" />
        <h3 th:text="${book.title}">예제 도서 제목</h3>
        <p th:text="|저자: ${book.author}|">저자: 홍길동</p>
      </div>
<!--      <div th:if="${#lists.isEmpty(bestSeller)}" style="grid-column: 1 / -1; text-align: center; color: var(&#45;&#45;color-text-medium);">-->
<!--        <p>아직 등록된 베스트셀러가 없습니다.</p>-->
<!--      </div>-->
    </div>
  </section>


  <script>
    const cartButtons = document.querySelectorAll('.add-to-cart-btn');

    cartButtons.forEach(button => {
      button.addEventListener('click', function() {
        const title = this.dataset.title;
        const author = this.dataset.author;
      });
    });


    // 도서 상세페이지 (인기 도서)
    document.querySelectorAll('.book-item').forEach(item => {
      item.addEventListener('click', () => {
        const bookIsbn = item.getAttribute('data-id');
        if (bookIsbn) {
          window.location.href = `/user/books/${bookIsbn}`;
        }
      });
    });
  </script>
</main>
</html>