<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head><meta charset="utf-8"/><title>결제 실패</title></head>
<body>
<main layout:fragment="content" style="text-align:center">
    <h2 style="color:#e74c3c">결제가 취소되었어요</h2>
    <p th:text="'사유: ' + ${param.message} + ' (' + ${param.code} + ')'">
        사유: USER_CANCEL (F100)
    </p>
    <a href="/" class="button">홈으로</a>
</main>
</body>
</html>
