<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <title>쿠폰 수정</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<main layout:fragment="content">
    <section class="coupon-form-container">
        <h2>쿠폰 수정</h2>
        <form th:action="@{/admin/coupon/coupon/{id}/update(id=${coupon.id})}" th:object="${coupon}" method="post">
            <div class="form-group">
                <label for="code">정책 코드</label>
                <input type="text" id="code" th:value="${coupon.code}" disabled>
            </div>
            <!-- 쿠폰 타입: 보여주기만 (submit되지 않음) -->
            <div class="form-group">
                <label for="couponType">쿠폰 타입</label>
                <select id="couponType" disabled>
                    <option value="GENERAL" th:selected="${coupon.couponType == 'GENERAL'}">일반</option>
                    <option value="BIRTHDAY" th:selected="${coupon.couponType == 'BIRTHDAY'}">생일</option>
                    <option value="WELCOME" th:selected="${coupon.couponType == 'WELCOME'}">웰컴</option>
                    <option value="CATEGORY" th:selected="${coupon.couponType == 'CATEGORY'}">카테고리</option>
                    <option value="BOOKS" th:selected="${coupon.couponType == 'BOOKS'}">도서</option>
                </select>
            </div>
            <!-- 유효 시작일 -->
            <div class="form-group">
                <label for="validFrom">유효 시작일</label>
                <input type="date" id="validFrom"
                       th:value="${#temporals.format(coupon.validFrom, 'yyyy-MM-dd')}"
                       name="validFrom" required>
            </div>
            <!-- 유효 종료일 -->
            <div class="form-group">
                <label for="validTo">유효 종료일</label>
                <input type="date" id="validTo"
                       th:value="${#temporals.format(coupon.validTo, 'yyyy-MM-dd')}"
                       name="validTo" required>
            </div>
            <!-- 쿠폰 설명 -->
            <div class="form-group">
                <label for="comment">쿠폰 설명</label>
                <input type="text" id="comment" th:field="*{comment}">
            </div>
            <!-- 발급 수량 -->
            <div class="form-group">
                <label for="issueCount">발급 수량</label>
                <input type="number" id="issueCount" th:field="*{issueCount}" required min="1">
            </div>
            <div class="btns">
                <button type="submit" class="btn-primary">수정 완료</button>
                <button type="button" class="btn-cancel" onclick="location.href='/admin/coupon/coupon'">취소</button>
            </div>
        </form>
    </section>
</main>
</html>
